.all-action-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}



.all-action-subcontainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 80%;
  
}

.all-action-subcontainer-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.all-action-subcontainer-content-for-subcategory{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}
.all-action-subcontainer-content-for-subcategory:hover{
    background-color: orange;
    color: white;
    border-radius: 10px;
}


.dropdown-icon{
    font-size: 30px;
    color: lightgray;
}


.submit-button-container{
    margin-top: 20px;
    align-self: center;
    width: 200px;
    height: 45px;
    background-color: skyblue;
    color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-library{
width: 100%;
background-color: yellow;
height: 35px;
display: flex;
align-items: center;
justify-content: center;
}