.main-header-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.sub-item-container{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}

