.preoperative-question-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.preoperative-medical-history-question-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.preoperative-medical-history-main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-evenly;
}
 

.preoperative-medical-history-question-header{
    margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  
}

.preoperative-medical-history-sub-question-sub-container{
    width:90%;
    margin-left:2%;
    display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
   }
 
 .preoperative-sub-question-container{
     margin-top: 1.5%;
     align-self: center;
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content:space-between;
   
 }

 .preoperative-medication-sub-question-container{
    margin-top: 1.5%;
    align-self: center;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
  
}

 
 .preoperative-option-box-container{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     width: 15%;
 }
 
 
