.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  list-style: none;
}
body{
  font-family: 'Poppins', sans-serif;
}

.search {
  border: 2px solid black;
  height: 5vh;
}

.container{
  margin: 1rem 0;
}

.navbar_header {
  display: flex;
  justify-content: space-around;
}

.logo-img {
  height: 60px !important;
}

.profile-left{
  border: 2px solid yellow;
  height: 90vh;
}

.profile-container{
  background-color: rgb(255, 234, 237);
  margin: 0.5rem;
}

.user-profile {
  text-align: center;
  background-color: rgb(255, 218, 223);
}

.user-profile-pic{
  border-radius: 50%;
  height: 100px;
  margin: 0.7rem 0;
}

.username{
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.3rem 0;
}

.user-email{
  font-size: small;
  font-weight: 500;
  padding-bottom: 1rem;
}

.user-profile-show{
  text-align: start;
  margin: 0 3rem;
}

.user-profile-show span{
  font-size: 0.9rem;
  font-weight: 500;
  color: gray;
}

.user-profile-show p{
  font-size: 1.1rem;
  font-weight: 700;
}

.change-pass{
  background-color: rgb(255, 234, 237);
  margin: 0.5rem;
  padding: 1rem;
}

.change-pass-text{
  background-color: rgb(255, 218, 223);
  margin: 0.5rem 0;
  text-align: center;
  padding: 0.5rem 0;
  font-weight: 600;
}

.pass-form{
  margin: 3rem;
}

.navbar {
  background: #b8b5ff;
}

.navbar-toggler {
  color: black;
  background-color: skyblue;
}
.nav-link {
  color: white !important;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 0.8rem;
}

.nav-link:hover {
  color: #e4fbff !important;
}

.active {
  color: #7868e6 !important;
}

nav img {
  height: 45px;
  width: 250px;
  padding-top: 0.5rem;
  cursor: pointer;
}

/* ################################ Home page Styling ###########################  */

.home-header {
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/imgonline-com-ua-CompressToSize-8G6xD1K4tW5C.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-line {
  color: white;
  font-weight: 700 !important;
  font-size: 2rem !important;
}

.header-btn {
  background-color: #7868e6 !important;
  color: white !important;
  padding: 0.5rem !important;
  border-radius: 10px !important;
  font-size: 1.2rem !important;
  font-weight: 500 !important;
}

.header-btn:hover {
  background-color: white !important;
  color: #7868e6 !important;
}

.about-us{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-heading{
  color: black;
  font-weight: 700;
}

.about-text{
  color: black;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.5rem;
}

.header-img{
  height: 100%;
  width: 100%;
}


.bottom-bor{
  height: 4px;
  width: 180px;
  background-color: #7868e6;
  margin-left: 0.5rem;
}

.bottom-bor-2{
  height: 4px;
  width: 230px;
  background-color: #7868e6;
}

.bottom-bor-3{
  height: 4px;
  width: 325px;
  background-color: #7868e6;
}

.why-us{
  min-height: 80vh;
  background-color: #b8b5ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.why-heading{
  color: white;
  font-weight: 700;
}

.why-img{
  height: 100%;
  width: 100%;
  padding-top: 0.5rem;
}

.why-us ul li{
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

.showcase {
  width: 100%;
  min-height: 60vh;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.showcase .extra-div{
  background: #fff;
  border: medium none;
  padding: 30px !important;
  border-radius: 3px;
  transition: 0.3s;
  text-align: center;
}

.showcase .extra-div ul li{
  text-align: left;
  padding-top: 1rem;
  font-weight: 500;
}

.showcase .extra-div:hover{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  transform: translateY(-20px);
}

.extra-div i{
  color: #7868e6;
}

.feature-heading{
  color: #7868e6;
  font-weight: 700;
  border-bottom: 5px solid #7868e6;
  padding-bottom: 0.5rem;

}

.call-to-action{
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #b8b5ff;
}

.call-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartoon{
  height: 100%;
  width: 100%;
  padding-top: 0.5rem;
}

.call-text{
  color: white;
  font-weight: 700;
  margin-bottom: 1rem;
}

.container-fluid-footer {
  overflow: hidden;
  margin-top: 250px;
  background: #262626;
  color: #627482 !important;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 5rem;
}

small {
  font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
  color: #989c9e !important
}

.mt-55 {
  margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
  font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.social {
  font-size: 21px !important
}

.rights {
  font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}

.footer-link{
  list-style: none;
  text-decoration: none;
  color: white;
}

.footer-link:hover{
  list-style: none;
  text-decoration: none;
  color: yellow;
}

.footer-link:active{
  list-style: none;
  text-decoration: none;
}

@media (max-width: 768px) {
  .nav-item {
    text-align: center;
  }
  nav img {
    width: 200px;
  }
  .header-line {
    font-size: 1.2rem !important;
  }

  .action-text{
    font-size: 10px;
    margin-top: 0.5rem;
  }
  .about-text{
    font-size: 1rem;
  }

  .why-us ul li{
    font-size: 1rem;
  }

  .call-text{
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
  .para{
    font-size: 1rem !important;
  }

  .bottom-bor-3{
    display: none;
  }
}


/* ########################################## contact page ######################################################### */

.contact{
  margin-top: 3rem;
  width: 100%;
  position: relative;
  background: rgb(223, 240, 245);
}

.contact h1{
  padding-top: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2;
}

.form-btn{
  border: 2px solid  rgb(39, 132, 238);
  border-radius: 50px;
  margin: 5px 5px;
  padding: 12px 26px;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  background: #fff;
  color: rgb(6, 114, 238);
  transition: background-color 0.3s ease-in-out;
}

.google-m{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
}

.google-m iframe{
  height:50vh;
  width: 70vw;
}

/* ################################################## About Page Styling ##################################  */

.about-pg-landing{
  min-height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./images/national-cancer-institute-KrsoedfRAf4-unsplash_11zon.jpg);
  border: 1px solid black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-pg-landing h1{
  font-size: 4rem !important;
}

.para{
  font-size: 1.4rem;
  text-align: justify;
}

